@model SisGerPro.Models.Pessoa_Projetos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pessoa_Projetos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pessoas.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoas.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projetos.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projetos.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_PessoaProjetos }) |
    @Html.ActionLink("Back to List", "Index")
</p>
